Packages / Libraries:
import csv
import zipfile
import pandas as pd
import numpy as np
import geopandas as gpd
import warnings
import matplotlib.pyplot as plt
import folium

from urllib.request import urlopen
from os.path import getsize
from urllib.request import urlretrieve
from collections import defaultdict
from sklearn.neural_network import MLPClassifier
from statsmodels.formula.api import *
